#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-media{
  min-height: 500px;
  max-width: 400px;
  margin-inline: auto;
}
#user-canvas{
  position: absolute; /* Will overlay the video stream. */
  top: 44px; /* place it after the button space */
  object-fit: contain;
}